$white: #fff;
$black: #000000;
$purple: rgba(56, 39, 106, 1);
$dark-purple: #221c30;
$light-purple: #6342a6;
$pink: rgba(149, 66, 125, 1);
$dark-gray: rgba(36, 49, 63, 1) 90%;
$orange: rgba(243, 124, 44, 1);
$orange-red: rgba(191, 64, 57, 1);
